#navbar {
    width: 84%;
    padding: 5px 8%;  
    background-color: var(--color-primary-4);
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
#nav_list{
    display: flex;
    justify-content: center;
    gap: 48px;
    
}
#navbar  ul li{
    padding: 10px;
    list-style: none;
    
}
.nav-item a{
    text-decoration: none;
    color: var(--color-primary-1);
    margin-right: 10px;
    font-weight: 300;
    
}
