@import url('header.css');

:root {
    --color-primary-1: #ffffff;
    --color-primary-2: #d41900;
    --color-primary-3: #000000;
    --color-primary-4: rgb(182, 25, 24);


}

body {
    background-color: #8B0000;
}