body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: rgb(182, 25, 24);
    color: #ffffff; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
    width: 100px;
    height: auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}
.nav-links li {
    display: inline;
    margin-left: 20px;
}
.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
}
.nav-links a:hover {
    text-decoration: underline;
}



