
.lista-de-jogos li {
    background-color: #d3d3d3; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
    list-style: none; 
   
}
.lista-de-jogos img {
    max-width: 100px; 
    height: auto; 
    margin: 0 auto;
    margin-bottom: 10px;
}